---
---

@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova;
  font-weight: 300;
  font: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 1em 0 0 0;
}

p {
  margin: 0.3em 0 1em 0;
  font-size: 17px;
  line-height: 1.4;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

@mixin column {
  margin: -4px $margin $margin $margin;


  img {
    max-width: 100%;
  }
}

@function longshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 300 {
    $alpha: $i / 300 * 20%;
    $val: #{$val}, -#{$i}px #{$i}px lighten($color, $alpha);
  }
  @return $val;
}

@mixin longshadow($color) {
  box-shadow: longshadow($color);
}

.pull--left, .pull--right {
  @include column;
  margin: $margin;
  position: absolute;
}


.header {
  background-repeat:no-repeat;
  background-size: 100%;
  display: flex;
  width: 100%;


  .post__image {
    background-size: cover;
    background-position: right;
    flex-grow: 2;
    flex-basis: 500px;
    img { width: 100%; }
  }

  .post__data {
    border: 8px solid #000;
    flex-grow: 1;
    text-align: center;
    margin: 30px;
    padding: 0 20px;

    h1, p {
      background-color: #fff;
      padding: 10px 0;
    }
  }
}

.pull--left, .pull--right, .double-wide {
  font-weight: 300;
  font-style: italic;
}

.attribution {
  color: #444;
  font-size: 20px;
  font-style: italic;
}

@media (max-width: $media-small) {

  h1 {
    font-size: 36px;
  }

  .header {
    flex-wrap: wrap;
  }

  .post__image {
    height: 150px;
  }

  .post__data {
    border: none !important;
    border-bottom: 1px solid #000 !important;
  }

  .pull--right, .pull--left, .double-wide, .wide--right, .wide--left {
    font-size: 28px;
  }

  .pull--left, .pull--right {
    margin: $margin 0 0 -1 * $margin;
    position: relative;
    text-align: center;
    width: $small-column + 2 * $margin;
  }

  .double-wide {
    @include column;
    width: $small-column;
  }

  .wide--left {
    @include column;
    width: $small-column;
    float: left;
  }

  .wide--right {
    @include column;
    width: $small-column;
    float: right;
  }

  .center {
    margin: $margin;
    display: block;
    width: $small-column - 2 * $margin;
  }
}

@media (min-width: $media-small + 1) and (max-width: $media-large){

  h1 {
    font-size: 36px;
  }

  .pull--right, .pull--left, .double-wide, .wide--right, .wide--left {
    font-size: 28px;
  }

  .pull--left, .pull--right {
    width: $medium-narrow-column;
  }

  .pull--left {
    left: $medium-column + $margin;
  }

  .pull--right {
    left: $medium-column + $margin;
  }

  .double-wide {
    @include column;
    width: $medium-double-wide--column;
  }

  .wide--left {
    @include column;
    width: $medium-wide--column;
    float: right;
    clear: both;
  }

  .wide--right {
    @include column;
    width: $medium-wide--column;
    float: right;
    clear: both;
  }

  .center {
    margin: $margin auto $margin $margin;
    display: block;
    width: $medium-column;
  }
}

@media (min-width: $media-large + 1) {

  h1 {
    font-size: 3vw;
  }

  .pull--right, .pull--left, .double-wide, .wide--right, .wide--left {
    font-size: 2.25vw;
    line-height: 1;
  }

  .pull--left, .pull--right {
    width: $large-narrow-column;
  }

  .pull--left {
    right: $large-column / 2 + 50%;
  }

  .pull--right {
    left: $large-column / 2 + 50%;
  }

  .double-wide {
    @include column;
    width: $large-double-wide--column;
  }

  .wide--left {
    @include column;
    width: $large-wide--column;
    float: left;
  }

  .wide--right {
    @include column;
    width: $large-wide--column;
    float: right;
  }

  .center {
    margin: $margin auto;
    display: block;
    width: $large-column;
  }
}

.codepen {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.codepen__item {
  flex-grow: 1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex--vertical {
  flex-direction: column;
}

.flex--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex__item {
  flex-grow: 1;
  background-color: #fff;
}

.flex__item--fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex__item--constrain {
  flex-basis: 350px;
}

/********
*********
********* Index page
*********
********/

.longshadow {
  border: 8px solid #e0e0dc;
  display: flex;
  margin: 20px 20px 80px 150px;
  @include longshadow(#E0E0DC);
}


.index {
  background-color: #C2EAE4;
  padding: 20px;
}

.index__content {
  height: 100%;

  h1 {
    font-size: 120px;
    margin: 0;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  p {
    font-size: 36px;
  }
}

.border {
  background-color: #fff;
  border: 8px solid #000;
  padding: 40px 20px;

  h2 {
    font-size: 50px;
    margin: -75px 0 20px 0;
  }
}

.border--pink {
  border: 8px solid #FFDBDB;
}

.social {
  width: 70px;
  height: 70px;
  margin: 20px;
}

.profile {
  border-radius: 150px;
  max-width: 200px;
  margin: 40px;
}

.front {
  z-index: 1;
}

.front-front {
  z-index: 10;
}

@media (max-width: $media-small) {
  .index__content {
    display: block;

    h1 {
      font-size: 15vw;
    }

    p {
      text-align: center;
    }

    .flex--horizontal {
       flex-basis: 100%;
    }

    .flex__item, .flex__item--fixed {
      padding: 20px 10px;
     flex-basis: 100%;
    }

    .longshadow {
      flex-wrap: wrap;
      margin: 20px 20px 60px 20px;
      justify-content: space-around;
    }
  }

  .social {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
