---
---

@import "variables";

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }


body {
  font-family: proxima-nova;
  font-weight: 300;
  font: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 1em 0 0 0;
}

p { margin: 0.3em 0 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

@mixin column {
  margin: -4px $margin $margin $margin;


  img {
    max-width: 100%;
  }
}

@media (max-width: $media-small) {

  .pull-left, .pull-right {
    @include column;
    margin: $margin;
    width: $small-column;
  }

  .double-wide {
    @include column;
    width: $small-column;
  }

  .wide-left {
    @include column;
    width: $small-column;
    float: left;
  }

  .wide-right {
    @include column;
    width: $small-column;
    float: right;
  }

  .center {
    margin: $margin;
    display: block;
    width: $small-column;
  }
}

@media (min-width: $media-small + 1) and (max-width: $media-large){

  .pull-left, .pull-right {
    width: $medium-narrow-column;
  }

  .pull-left {
    @include column;
    float: right;
    clear: both;
  }

  .pull-right {
    @include column;
    float: right;
    clear: both;
  }

  .double-wide {
    @include column;
    width: $medium-double-wide-column;
  }

  .wide-left {
    @include column;
    width: $medium-wide-column;
    float: right;
    clear: both;
  }

  .wide-right {
    @include column;
    width: $medium-wide-column;
    float: right;
    clear: both;
  }

  .center {
    margin: $margin auto $margin $margin;
    display: block;
    width: $medium-column;
  }
}

@media (min-width: $media-large + 1) {

  .pull-left, .pull-right {
    width: $large-narrow-column;
    position: absolute;
  }

  .pull-left {
    @include column;
    right: $large-column / 2 + 50%;
  }

  .pull-right {
    @include column;
    left: $large-column / 2 + 50%;
  }

  .double-wide {
    @include column;
    width: $large-double-wide-column;
  }

  .wide-left {
    @include column;
    width: $large-wide-column;
    float: left;
  }

  .wide-right {
    @include column;
    width: $large-wide-column;
    float: right;
  }

  .center {
    margin: $margin auto;
    display: block;
    width: $large-column;
  }
}


.center {

}

.header {
  background-repeat:no-repeat;
  background-size: 100%;
  display: flex;
  width: 100%;


  .post-image {
    background-size: cover;
    background-position: center;
    flex-grow: 2;
    flex-basis: 500px;
    img { width: 100%; }
  }

  .post-data {
    border: 8px solid #000;
    flex-grow: 1;
    text-align: center;
    margin: 30px;
    padding: 0 20px;

    h1, p {
      background-color: #fff;
      padding: 10px 0;
    }
  }
}

.pull-left, .pull-right, .double-wide {
  font-weight: 300;
  font-style: italic;
}

.attribution {
  color: #444;
  font-size: 20px;
  font-style: italic;
}

