---
---

@import "variables";

@media (max-width: $media-large) {

  body {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
  }

  .pull-right, .pull-left, .double-wide, .wide-right, .wide-left {
    font-size: 28px;
  }
}

@media (min-width: $media-large + 1) {

  body {
    font-size: 1.75vw;
  }

  h1 {
    font-size: 3vw;
  }

  .pull-right, .pull-left, .double-wide, .wide-right, .wide-left {
    font-size: 2vw;
  }
}
