---
---

@import "variables";

@media (max-width: $media-small) {

  body {
    font-size: 18px;
  }

}

@media (min-width: $media-small + 1) {

  body {
    font-size: 2vw;
  }

  h1 {
  font-size: 4vw;
  }
}
