---
---

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


$small-column: 100%;

$margin: 1%;
$large-column: 50% - (2 * $margin);
$large-narrow-column: ($large-column / 2)  - 2 * $margin;
$large-wide-column: ($large-column / 2 + $large-column) - 2 * $margin;
$large-double-wide-column: 100% - 2 * $margin;

@mixin column {
  margin: $margin;
}

@media (max-width: 760px) {

  .pull-left, .pull-right {
    @include column;
    margin: 2px auto;
    width: $small-column;
  }

  .double-wide {
    @include column;
    width: $small-column;
  }

  .wide-left {
    @include column;
    width: $small-column;
    float: left;
  }

  .wide-right {
    @include column;
    width: $small-column;
    float: right;
  }

  .center, p {
    margin: 2px auto;
    display: block;
    width: $small-column;
  }
}

@media (min-width: 761px) {

  .pull-left, .pull-right {
    width: $large-narrow-column;
  }

  .pull-left {
    @include column;
    float: left;
  }

  .pull-right {
    @include column;
    float: right;
  }

  .double-wide {
    @include column;
    width: $large-double-wide-column;
  }

  .wide-left {
    @include column;
    width: $large-wide-column;
    float: left;
  }

  .wide-right {
    @include column;
    width: $large-wide-column;
    float: right;
  }

  .center, p {
    margin: 2px auto;
    display: block;
    width: $large-column;
  }
}
