---
---

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


$margin: 1%;
$column: 50% - (2 * $margin);
$narrow-column: ($column / 2)  - 2 * $margin;
$wide-column: ($column / 2 + $column) - 2 * $margin;
$double-wide-column: 100% - 2 * $margin;

@mixin column {
  margin: 2%;
}

.pull-left, .pull-right {
  width: $narrow-column;
}

.pull-left {
  @include column;
  float: left;
}

.pull-right {
  @include column;
  float: right;
}

.full-quote {
  @include column;
  width: $double-wide-column;
}

.wide-left {
  @include column;
  width: $wide-column;
  float: left;
}

.wide-right {
  @include column;
  width: $wide-column;
  float: right;
}

p {
  margin: 2px auto;
  display: block;
  width: $column;
}
