---
---

body {
  font-family: Helvetica;
  font-weight: lighter;
}

.pull-left, .pull-right, .double-wide {
  font-weight: 300;
  font-style: italic;
}

.attribution {
  color: #444;
  font-family: lust-didone;
  font-size: .6em;
  font-style: normal;
}
