$media-small: "(max-width: 760px)";
$media-medium: "(min-width: 761px) and (max-width: 960px)";
$media-large: "(min-width: 961px)";

$margin: 1%;

$small-column: 100%;

$medium-column: 66%;
$medium-narrow-column: 100% - $medium-column  - 2 * $margin;
$medium-wide-column: $medium-narrow-column;
$medium-double-wide-column: 100% - 2 * $margin;

$large-column: 50% - (2 * $margin);
$large-narrow-column: ($large-column / 2)  - 2 * $margin;
$large-wide-column: ($large-column / 2 + $large-column) - 2 * $margin;
$large-double-wide-column: 100% - 2 * $margin;
