$media-small: 760px;
$media-large: 960px;

$margin: 2%;

$small-column: 100%;

$medium-column: 66%;
$medium-narrow-column: 100% - $medium-column  - 3 * $margin;
$medium-wide--column: $medium-narrow-column;
$medium-double-wide--column: 100% - 2 * $margin;

$large-column: 50% - (2 * $margin);
$large-narrow-column: ($large-column / 2)  - 2 * $margin;
$large-wide--column: ($large-column / 2 + $large-column) - 2 * $margin;
$large-double-wide--column: 100% - 2 * $margin;
